* {
  box-sizing: border-box;
}

body {
  background-color: #ac2918;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  width: 500px;
}

h3,
p {
  color: #fff;
  margin: 10px 0 30px;
}

textarea {
  width: 100%;
  height: 200px;
  display: block;
  font-family: inherit;
  padding: 20px;
  margin: 0 0 20px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  text-indent: 10px;
}

textarea::placeholder {
  padding: 0 0 0 5px;
}

/* Make placeholder text transparent and disappear when textarea field is in focus */
.placeholder-fix:focus::-webkit-input-placeholder {
  color: transparent;
}
.placeholder-fix:focus::-moz-placeholder {
  color: transparent;
}
.placeholder-fix:-moz-placeholder {
  color: transparent;
}

#tags {
  margin: 10px 0;
}

.tag {
  display: inline-block;
  background-color: #34a825;
  padding: 10px 20px;
  margin: 5px 5px;
  border-radius: 50px;
  font-size: 14px;
}
