* {
  box-sizing: border-box;
}

body {
  background-color: #ac2918;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  max-width: 600px;
}

.instructions {
  color: #fff;
  margin: 5px 0 20px 0;
}

textarea {
  width: 100%;
  height: 200px;
  display: block;
  font-family: inherit;
  padding: 20px;
  margin: 0 0 20px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  text-indent: 10px;
}

textarea::placeholder {
  padding: 0 0 0 5px;
}

textarea:focus {
  outline: 0;
}

/* Make placeholder text transparent and disappear when textarea field is in focus */
.placeholder-fix:focus::-webkit-input-placeholder {
  color: transparent;
}
.placeholder-fix:focus::-moz-placeholder {
  color: transparent;
}
.placeholder-fix:-moz-placeholder {
  color: transparent;
}

#tags {
  margin: 10px 0;
}

.tag {
  display: inline-block;
  background-color: #34a825;
  padding: 10px 20px;
  margin: 5px 5px;
  border-radius: 50px;
  font-size: 14px;
}

h4 {
  font-size: 22px;
  color: #fff;
  margin: 0 auto;
}

.loading-animation {
  display: flex;
  justify-content: space-between;
  width: 300px;
  font-size: 50px;
  color: #fff;
  margin: 40px 0 0 0;
}

.fa-sleigh {
  animation: slide 1s linear infinite alternate;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(125%);
  }

  100% {
    transform: translateX(250%);
  }
}

.fa-gifts {
  animation: scale 2s linear 1s infinite alternate;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

#results-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 600px;
  padding: 20px 40px;
  margin: 40px;
  border-radius: 10px;
}

.results p {
  font-size: 18px;
  margin: 10px 0;
  padding: 5px 0;
}

.results p span {
  color: #ac2918;
  font-weight: bold;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 600px;
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  color: #ac2918;
  background-color: #fff;
  border: 0;
  border-radius: 40px;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
  cursor: pointer;
  margin: 0 20px 20px 0;
  transition: all 0.3s ease;
}

button:hover {
  color: #fff;
  background-color: #34a825;
}

button:active {
  outline: 0;
}

.fa-gift,
.fa-edit {
  font-size: 24px;
  margin-left: 5px;
}
